{% extends 'web_s/base.html' %}


{% block content %}
{% if user.is_authenticated %}
  <!-- Table -->
  <h3>Users</h3>
  <h5>현재까지 등록된 사용자 목록을 가져옵니다.</h5>
  <div class="table-wrapper">
    <table class="alt">
      <thead>
        <tr>
          <th>이름</th>
          <th>학과</th>
          <th>학번</th>
          <th>연락처</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.department}}</td>
          <td>{{user.s_id}}</td>
          <td>{{user.phone}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
<h1>Need Login</h1>

{% endif %}

{% endblock %}

